.listItem {
    display: flex;
    width: 300px;
    border: 2px solid whitesmoke;
    border-radius: 16px;
    transition: 300ms linear;
    background-color: #213547;
    overflow: hidden;

}

@keyframes fireGlow {whitesmoke
    0% {
        box-shadow:
            0 0 10px rgba(0, 255, 247, 0.6),
            0 0 20px rgba(0, 187, 255, 0.5),
            0 0 40px rgba(0, 94, 255, 0.4);
    }
    50% {
        box-shadow:
            0 0 10px rgba(0, 255, 247, 0.6),
            0 0 20px rgba(0, 187, 255, 0.5),
            0 0 40px rgba(0, 94, 255, 0.4);
    }
    100% {
        box-shadow:
            0 0 10px rgba(0, 255, 247, 0.6),
            0 0 20px rgba(0, 187, 255, 0.5),
            0 0 40px rgba(0, 94, 255, 0.4);
    }
}

.listItem:hover {
    transform: scale(1.03);
    animation: fireGlow 1.2s infinite alternate;
}

.text{
    padding-left: 16px;
}

.color {
    background-color: whitesmoke;
}