.list{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.listItem {
    border: 2px solid whitesmoke;
    border-radius: 16px;
    overflow: hidden;
}
