.form { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.btn {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    right: -7px;
    top: 1px;

}

.btn:focus{
    outline: none;
}

.position { 
    position: relative;
    
}

.input {
    border-radius: 16px;
    width: 300px;
    height: 30px;
    padding: 2px;
    padding-right: 20px;
    outline: none;
    font-size: 20px;
    border: 1px solid whitesmoke;
    padding-left: 40px;
}

.close {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    left: 20p;
    top: 1px;
}

.close:focus {
    outline: none;
}